{% extends "Blogs/base.html" %}
{% block content %}
<div class="contentBox noteBox barLeft">
    <div class="bar"><img id="note_icon" src="/static/img/note_icon.png" width="40%" height="40%"></div>
    <div class="contentShow noteShow">
        <p><em><strong>ASP & ASP.NET</strong></em></p>
        <p><em>最最以前写ASP。ASP的好朋友是VBScript和Javascript。虽然现在已经基本上没有人用VBScript了。</em></p>
        <p><em>ASP的调试让人崩溃，所以后面用了ASP.NET，觉得用VS2005开发实在是方便。</em></p>
        <p><em>AJAX那时候已经开始流行了，于是AjaxToolkit几乎用在所有的可用的页面里。</em></p>
        <p><em>JQuery来了，于是这原生Javascript技能越来越差。</em></p>
        <p><em>换工作了，写VBA了，又开始写ASP了，感觉倒退了，没有办法，项目需要。</em></p>
        <p><em>不过，可以看到微软人写的第一手的代码，觉得差距太大。</em></p>
    </div>
</div>
<div class="splitLine"></div>
<div class="contentBox noteBox barRight">
    <div class="contentShow noteShow">
        <p><em>又换工作了可以写ASP.NET了，不过他已经发展到了4.5版本，VS2010已经无比强大的了。WCF，WPF不可避免需要掌握。SOA成了一个课题。</em></p>
        <p><em>ASP.NET MVC也从最初发展到了5.0版本，搭建一个普通的WEB框架或者OnePage无比方便，MS做了太多，写异步和并发的代码不需要动脑子。</em></p>
        <p><em>再后来，MS的Web API和SingalR(原本不是MS的)成为了两个非常棒的工具，分别用来构造Rest service和即时通讯操作。</em></p>
        <p><em><strong>IOS</strong></em></p>
        <p><em>IOS是个很有趣的东西，于是搭Hackintosh是一门必须掌握的课程。IDE XCode同样出色。只是objective-c写不习惯。</em></p>
        <p><em>写了很多DEMO，包括一个非常烂的Ice hockey。</em></p>
        <p><em>后面流行的Swift还没有去看，不过从偏向性来说，更看好HTML5的APP（非游戏的角度）。</em></p>
    </div>
    <div class="bar"><img id="note_icon" src="/static/img/note_icon.png" width="40%" height="40%"></div>
</div>
<div class="splitLine"></div>
<div class="contentBox photoBox barLeft">
    <div class="bar"><img id="photo_icon" src="/static/img/photo_icon.png" width="40%" height="40%"></div>
    <div class="contentShow photoShow">
        <div class="photoFrame">
            <img src="/static/img/14393610501xwxi7na.jpg" width="100%" height="300px">
        </div>
    </div>
</div>
<div class="splitLine"></div>
<div class="contentBox noteBox barRight">
    <div class="contentShow noteShow">
        <p><em><strong>Python & Linux</strong></em></p>
        <p><em>Python是门算得上不错的语言，不了解之前非常喜欢，入门之后反而热情就淡下来了。</em></p>
        <p><em>曾经的Python django / Ruby Rails应该是非常火的，用来快速建站。</em></p>
        <p><em>Linux是用来搭Django站点用的，选择了CentOS 7。</em></p>
        <p><em>www.BasicPython.com也就是搭在这个环境上的。用uWSGI和Nginx分别解析py程序和static资源。</em></p>
        <p><em>花生壳做动态域名解释。MySQL作为数据源，REDIS缓存数据。</em></p>
        <p><em>服务器是一台老笔记本，每天工作在电信的线路上。</em></p>
    </div>
    <div class="bar"><img id="note_icon" src="/static/img/note_icon.png" width="40%" height="40%"></div>
</div>
<div class="splitLine"></div>

<div class="contentBox noteBox barLeft">
    <div class="bar"><img id="note_icon" src="/static/img/note_icon.png" width="40%" height="40%"></div>
    <div class="contentShow noteShow">
        <p><em><strong>JAVA及架构</strong></em></p>
        <p><em>现在做JAVA了，它的周边产品实在不少，很多开源的项目，其中有Hadoop。</em></p>
        <p><em>JVM的性能优化，编译是很需要花心思的东西。</em></p>
        <p><em>公司有很多系统，它们的交互是非常复杂的，从架构的角度来说，东西非常丰富。</em></p>
        <p><em>WMB和Mulesoft两个ESB产品很肤浅地去尝试做了。</em></p>
        <p><em>现在还在看Node.js。还有很多东西需要去进一步地了解和学习，比如安全，质量，合作。</em></p>
    </div>
</div>
<div class="splitLine"></div>
<div class="contentBox photoBox barRight">
    <div class="contentShow photoShow">
        <div class="photoFrame">
            <img src="/static/img/14393608108tk77k1b.jpg" width="100%" height="300px">
        </div>
    </div>
    <div class="bar"><img id="photo_icon" src="/static/img/photo_icon.png" width="40%" height="40%"></div>
</div>

{% endblock %}