{% extends "Blogs/base.html" %}
{% block content %}
    <div class="breadcrumbContainer">
        <ol class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li class="active">文章列表</li>
        </ol>
    </div>
    <div class="col-sm-8 blog-main">
        {% include "Blogs/blog_list.html" %}
        <div class="pagerContainer">{% include "Function/page.html" %}</div>
    </div><!-- /.blog-main -->
{% endblock %}
{% block category %}{% include 'Blogs/categories.html' %}{% endblock %}