<footer class="blog-footer hidden-xs">
    <div class="blog-footer-container">
        <ul class="footer-links social">
            <li class="googleplus"><a href="https://plus.google.com/u/0/100457209511777342998/posts" class="icon48 icon48-6" target="_blank">Google+</a></li>
            <li class="facebook"><a href="http://www.facebook.com/WillHuZero" class="icon48 icon48-1" target="_blank">Facebook</a></li>
            <li class="twitter"><a href="https://twitter.com/1982hwj" class="icon48 icon48-2" target="_blank">Twitter</a></li>
            <li class="linkedin"><a href="https://cn.linkedin.com/in/willhuwenjian" class="icon48 icon48-4" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <div class="blog-footer-container">
        <div class='footer-links'><span>Copyright ©2015 BasicPython.com  | All rights reserved | <a href="{% url "about" %}" target="_blank">About</a></span></div>
    </div>
</footer>