{% extends "Blogs/base.html" %}

{% block content %}
<div class="col-sm-8 blog-main">
    <div class="exception_container">
        <div class="illustration_exception">
            <img src="/static/img/exception_detected.gif" />
        </div>
        <div class="text_exception">
            <h1>PAGE NOT FOUND</h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <a href="/" class="btn">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>
{% endblock %}