<nav>
  <ul class="pagination">
    {% if blogs.has_previous and 1 not in blogs.paginator.page_range_ext%}
        <li>
            <a href="?page=1" aria-label="First page" data-toggle="tooltip" title="First page">
                <span aria-hidden="true">1</span>
            </a>
        </li>
        <li>
            <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous" data-toggle="tooltip" title="Previous page">
                <span aria-hidden="true">...</span>
            </a>
        </li>
    {% endif %}

    {% for p in blogs.paginator.page_range_ext %}
        {% ifequal p blogs.number %}
            <li class="active"><a data-toggle="tooltip" title="Page {{p}}">{{p}}</a></li>
        {% else %}
            <li><a href="?page={{p}}" data-toggle="tooltip" title="Page {{p}}">{{p}}</a><li>
        {% endifequal %}
    {% endfor %}

    {% if blogs.has_next and blogs.paginator.num_pages not in blogs.paginator.page_range_ext %}
        <li>
            <a href="?page={{ blogs.next_page_number }}" aria-label="Next" data-toggle="tooltip" title="Next page">
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <li>
            <a href="?page={{ blogs.paginator.num_pages }}" aria-label="Last page" data-toggle="tooltip" title="Last page">
                <span aria-hidden="true">{{ blogs.paginator.num_pages }}</span>
            </a>
        </li>
    {% endif %}
  </ul>
</nav>